
<h1><%=@question.name%></h1>
  <p>
    <%=@question.description%>
    <%= link_to 'edit', edit_question_path %>
    <div>
    <%= button_to "delete", {controller: 'questions', action: 'destroy', id: @question.id, method: 'delete'} , form_class: "button"%>
    </div>
  </p>
<h2>Answers</h2>
<%if @answers.nil?%>
  <p>
    No Answers Yet!
  </p>
<%else%>
  <% @answers.each do |answer|%>
  <li>
    <%=answer[:description]%>
  </li>
  <%end%>
<%end%>
<h3>Answer the Question!</h3>
<!-- , url: {action: "create", :controller=>"answers"} -->
<%= form_for [@question, @answer] do |f| %>
  <%= f.text_field :description %>
  <!-- <%= f.hidden_field :question_id, value: @question.id%> -->
  <%= f.submit "Post Answer",  :class =>  "button"%>
<% end %>
